:root {
  --header-height: 80px;
  --theme-color: #ffccb3;
  --shadow-theme-color: #FF9A68;
  --dark-theme-color: #d86328;
  --gray-color: rgb(227, 227, 227);
  --font-color: #404040;
  --lie-color: #e1b8b8;
  --truth-color: #d0f2cd;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: var(--header-height);
  border-bottom: var(--gray-color) 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header .logo {
  margin-top: 5px;
  height: 50px;
}

.button {
  background-color: var(--theme-color);
  box-shadow: 0px -7px inset var(--shadow-theme-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  color: var(--font-color);
}

.button:hover {
  color: white;
  background-color: var(--shadow-theme-color);
  box-shadow: 0px -7px inset var(--dark-theme-color);
}

.button:active {
  color: white;
  background-color: var(--shadow-theme-color);
  box-shadow: 0px -3px inset var(--dark-theme-color);
  transform: translateY(4px);
}

.main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  height: 80%;
  gap: 40px;
  top: var(--header-height);
}
.main .button.generate {
  height: 60px;
  width: 400px;
  font-size: 1.7em;
}
.main .name {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: var(--font-color);
}
.main .container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.main .container .door {
  width: 80px;
  height: 242px;
  overflow: hidden;
}
.main .container .door .boxes {
  transition: transform 2s ease-in-out;
}
.main .container .door .boxes .box {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}
.main .container .statements {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .container .statements .statement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.main .container .statements .statement .text {
  width: 400px;
  height: 50px;
  border: 2px solid var(--shadow-theme-color);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.main .container .statements .statement .selector {
  height: 50px;
  width: 50px;
  font-size: larger;
}
.main .error-box {
  height: 1.5em;
  color: rgb(108, 0, 0);
  background-color: #e1b8b8;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
}
.main .check {
  height: 50px;
  width: 180px;
  font-size: 1.2em;
}/*# sourceMappingURL=style.css.map */